.header-menu{
  display: flex;
  flex-direction: column;

  .toggler-logo{
    display: flex;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    .nav-btn{
      width: 33px;
      height: 30px;
      position: relative;
      padding: 0;
      margin: 0;
      overflow: hidden;
      outline: none;
      border:0;
      background: none;
      cursor: pointer;
      pointer-events: auto;
      -webkit-appearance: button;
      text-transform: none;
    
      @include media('medium'){
        width: 41px;
        height: 44px; 
      }
    
      .nav-btn__black{
        color: $first-color
      }
    
      .nav-btn__bar{
        position: absolute;
        left: 0;
        width: 33px;
        height: 3px;
        background: currentColor;
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-transform: scaleX(0) translateZ(0);
        transform: scaleX(0) translateZ(0);
    
        @include media('medium'){
          width: 41px;
          height: 4px;
        }
    
      } 
      .nav-btn__bar-1, .nav-btn__bar-3{
        top: 8px;
    
        @include media('medium'){
          top: 12px;
        }
    
      }
    
      .nav-btn__bar-2, .nav-btn__bar-4{
        bottom: 8px;
    
        @include media('medium'){
          bottom: 12px;
        }
    
      }
    }
    svg.logo-header{
      width: 100%;
      max-width: 75px;
      height: 30px;
      .fonts path{
        opacity: 0;
      }
    }
  
  }
 
  .dash-menu{
    width: 100%;
    height: calc(100vh - 65px);
    position: absolute;
    pointer-events: none;
    top:65px;
    z-index:99999;

    .container-dash{
      position: relative;
      width: 100%;
      height: 100%;
      opacity: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      button{
        font-size: 16px;
        margin: 0 0 30px;
        padding: 10px;
        background: none;
        border:none;
        outline: none;
        &:first-child{
          margin-top: -70px;
          padding: 0;
          position: relative
        }
      }
      button.flirt-contact{
        margin-top: 45px;
        position: relative;
        &:after{
          width: 100%;
          height: 1px;
          background: #ccc;
          position: absolute;
          content:'';
          left: 0;
          top:-30px;
        }
      }
    }

  }

}
.button-profile{
  overflow: hidden;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  .vertical-profile{
    width: 150px;
    left: 0;
    position: absolute;
  }
  .horizontal-profile{
    top: 0;
    height: 150px;
    position: absolute;
  }
}
